/Debug/
.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
local.properties

.settings/
.loadpath


sysProps.xml

.externalToolBuilders/

*.launch
*.a
*.dll

doc/

src/Hardware.h
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
